p {
    color: red;
    
}

p, div {
    color:green;
}

div#myDiv > p.mainClass {
   
    color:yellow;
    
}

div p {
    
    color: blue;
 
}

input[type="text"].myClass {
   
    color: pink;
    
}

div ~ span {
   
    color: purple;
    
}

p.myClass {
   
    color: orange;
    
}

div#myDiv {
    color: gray;
   
}


  


.container{

  width:300px;
  height: 300px;
     
  background-image: url("file:///C:/Users/Salma/OneDrive/Pictures/building.jpg"),url("file:///C:/Users/Salma/OneDrive/Pictures/birds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  
 
}

